Dev2/Section6-B.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "a1f197c3-67b0-35c8-95ca-932119329558",
            "name" : "Pass",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "282a6190-7c2e-3a4a-b018-cbb93b30dc1f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "pass" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "cfbab77e-748c-38eb-848e-ab499d45263d",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "4c52fff7-7a88-3602-92ff-caded92031b4",
            "name" : "Test",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "ffa891ab-e962-3784-82cf-71ed46dcee92",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "a1f197c3-67b0-35c8-95ca-932119329558",
            "name" : "Pass",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "d85300d4-d8c4-34f9-90c3-59766e428959",
            "name" : "UpdateCounter",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "36907bc9-2eb1-3704-9d37-0ac4d13a4a7f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream", "original", "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "3de69d0a-0615-3281-9edc-a289f50e9501",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "edd22e14-a1a6-3b40-96f3-5121ebb4c6d5",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "29aa8eed-8f2e-3a0d-b24a-0b011c25fab4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "d85300d4-d8c4-34f9-90c3-59766e428959",
            "name" : "UpdateCounter",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1052.0,
            "y" : 346.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "3de69d0a-0615-3281-9edc-a289f50e9501",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "80255163-79e5-31ba-b83f-3d8ea0c7fe68",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "81f97dd8-46ca-3207-957f-b323538f4417",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "cfbab77e-748c-38eb-848e-ab499d45263d",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "fd2bbfa6-1d55-394d-8d93-acac39bfec21",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "3c03371c-28d2-37d5-b941-a98f57d77228",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "3c03371c-28d2-37d5-b941-a98f57d77228",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "573fdeb9-1f09-3436-8b97-039f72321b80",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream", "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "edd22e14-a1a6-3b40-96f3-5121ebb4c6d5",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "d60436e4-ee88-37ed-998d-aa4cc2f4d3fb",
            "name" : "Fail",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "8bb9eec1-c5ee-3616-9060-75dd9803906f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "fail" ],
          "source" : {
            "comments" : "",
            "groupId" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
            "id" : "cfbab77e-748c-38eb-848e-ab499d45263d",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Section6-B",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "4c52fff7-7a88-3602-92ff-caded92031b4",
          "name" : "Test",
          "position" : {
            "x" : 1154.5636059065905,
            "y" : 1200.8319727538692
          },
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "DataLake",
        "position" : {
          "x" : 888.0,
          "y" : 128.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "cfbab77e-748c-38eb-848e-ab499d45263d",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 996.0,
            "y" : 738.0
          },
          "properties" : {
            "fail" : "${result:startsWith('fail')}",
            "Routing Strategy" : "Route to Property name",
            "pass" : "${result:startsWith('pass')}"
          },
          "propertyDescriptors" : {
            "fail" : {
              "displayName" : "fail",
              "identifiesControllerService" : false,
              "name" : "fail",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "pass" : {
              "displayName" : "pass",
              "identifiesControllerService" : false,
              "name" : "pass",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "d85300d4-d8c4-34f9-90c3-59766e428959",
          "name" : "UpdateCounter",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 564.0,
            "y" : 378.0
          },
          "properties" : {
            "counter-name" : "FlowFileCounter",
            "delta" : "1"
          },
          "propertyDescriptors" : {
            "counter-name" : {
              "displayName" : "Counter Name",
              "identifiesControllerService" : false,
              "name" : "counter-name",
              "sensitive" : false
            },
            "delta" : {
              "displayName" : "Delta",
              "identifiesControllerService" : false,
              "name" : "delta",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateCounter",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "81f97dd8-46ca-3207-957f-b323538f4417",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1132.0,
            "y" : 146.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "60 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "edd22e14-a1a6-3b40-96f3-5121ebb4c6d5",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 524.0,
            "y" : 674.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "/home/nifi/workspace/.venv/bin/python3",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false",
            "Command Arguments" : "/home/nifi/workspace/great_expectations/uncommitted/run_checkpoint_pv1.py"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "a1f197c3-67b0-35c8-95ca-932119329558",
          "name" : "Pass",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1220.0,
            "y" : 970.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/nifi/workspace/data_lake/passed",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "d60436e4-ee88-37ed-998d-aa4cc2f4d3fb",
          "name" : "Fail",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 612.0,
            "y" : 954.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/nifi/workspace/data_lake/failed",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "3c03371c-28d2-37d5-b941-a98f57d77228",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1128.0,
            "y" : 376.0
          },
          "properties" : {
            "result" : "$.result",
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "result" : {
              "displayName" : "result",
              "identifiesControllerService" : false,
              "name" : "result",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 0,
          "executionNode" : "ALL",
          "groupIdentifier" : "2df053e4-7f9c-383c-bf32-a9758e1b35ac",
          "identifier" : "3de69d0a-0615-3281-9edc-a289f50e9501",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 596.0,
            "y" : 130.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "/home/nifi/workspace/.venv/bin/python3",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false",
            "Command Arguments" : "/home/nifi/workspace/section6/loadcsv-v2.py;#{data_lake}"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "EVENT_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "DataLake" : {
          "name" : "DataLake",
          "parameters" : [ {
            "description" : "",
            "name" : "data_lake",
            "sensitive" : false,
            "value" : "/home/nifi/workspace/data_lake"
          } ]
        }
      }
    }
  }
}